$bg-dark:#212529;
.modal{
  &-bg{
    background: $bg-dark;
    opacity: 0.98;
    &--show{
      display: block;
    }
  }
}
@media screen and (min-width: 320px){
  .modal-dialog.modal-side.modal-bottom-right{
    width: 288px;
  }
}