$bg-dark:#212529;
.modal{
  &-bg{
    background: $bg-dark;
    opacity: 0.98;
    &--show{
      display: block;
    }
  }
}
.form-group--error input, .form-group--error textarea, .form-group--error input:focus, .form-group--error input:hover {
    border-color: #f79483;
}

  .form-group__message--error {
    font-size: 0.75rem;
    display: block;
    color: #f57f6c;
}